[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
sentry-sdk = { version = "*", extras = ["django"] }
packaging = "*"
pre-commit = "*"

django-colorfield = "==0.8.0"
django-phonenumber-field = "==7.1.0"
django-allauth = "==0.54.0"
psycopg2-binary = "==2.9.5"
phonenumberslite = "==8.13.15"

black = "*"
isort = "*"
flake8 = "*"


[dev-packages]

[requires]
python_version = "3.12"
